<mat-sidenav-container class="sidenav">
  <mat-sidenav>
      <mat-card>
        <button mat-raised-button color="primary" routerLink="/createpost">Create New Post</button>
        <mat-divider></mat-divider>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/frontpage'"> Home </a>
          <a mat-list-item [routerLink]="'/about'"> About us </a>
          <a mat-list-item [routerLink]="'/contact'"> Contact </a>
        </mat-nav-list>
      </mat-card>
  </mat-sidenav>
</mat-sidenav-container>
